@media only screen and (min-width: 1500px) {
    .home-section .window {
        width: 300px;
        height: 400px;
    }
    .window p{
        width: 300px;
        height: 250px;
    }
    .window img{
        width: 300px;
        height: 400px;
    }
    .window-images p{
        top:-420px;
    }
    .window-middle p{
        left: -310px;
    }
    .window-contact:hover img{
        top:410px;
    }
    .window-end p{
        left: 310px;
    }
}

@media only screen and (max-width: 1023px) {
    .images-main {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .images-main {
        padding-right: 2.1em;
        margin: 1em 1.9em 3em 2em;
        border-right: 2px solid #234465;

    }

    .fa-chevron-up {
        display: none;
    }

    .images-section h1 {
        padding: 5px;
        font-size: 2em;
        margin: 0.4em 0 0 2em;
    }
}

@media only screen and (max-width: 1000px) {
    .images-main {
        flex-basis: 100%;
        border-right: none;
    }

    .advertisement {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }

    .advertisement-images p {
        font-size: 2em;
    }

    .home-section {
        display: none !important;
    }

    .navbar-nav li:first-child {
        display: none;
    }

    .contact-main {
        flex-basis: 100%;
        border-right: none;
    }

}

@media only screen and (max-width: 640px) {
    .first-screen ul{
     text-align: center;
    }
    .first-screen ul li{
        display: block;
        margin: 0;
    }
    .first-screen-image{
        display: none;
    }
    .navbar > ul > li:first-child {
        margin: 0;
    }


    .navbar-nav li {
        display: none;
        text-align: center;
        margin: 0;
        padding: 0.5em 0;
    }

    .hidden-menu > a {
        display: block;

    }

    .hidden-menu:hover > .navbar-nav > li {
        display: block;

    }

    .hidden-menu:hover > a {
        display: none;
    }

    .images-section h1 {
        margin: 0 auto;
        margin-top: 1em;
        text-align: center;

    }

    .images-main {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        padding: 0;
    }

    .advertisement {
        display: block;
        width: 90%;
    }

    .middle-section {
        padding: 2em 0;
    }

    iframe {
        width: 340px
    }

    .contact-main {
        padding: 0;
    }

    .person {
        width: 100%;
        margin: 0;
        padding: 0.5em 0.5em 1em 0.5em;
        border-bottom-right-radius: 100px;
        text-align: center;
    }

    .person img {
        margin: 1.5em 0;
    }

    .person .social-links {
        background: none;
    }

    .footer-navigation li {
        display: block;
        border-right: none;
        padding: 0;
    }
}