@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"');

body {
    font-family: "pt sans caption", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

html {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    max-width: 1600px;
    background: #234465;
    padding: 10px;
    text-align: right;
    position: fixed;
    z-index: 100;
}

.navbar li {
    display: inline-block;
    margin-right: 35px;
}

.navbar li a {
    color: #8e9fb0;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 900;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}

.navbar li a:hover {
    color: #ffa000;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}

/** ========= HOME SECTION style =========*/
.home-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    padding-top: 65px;
    background: url("../images/IMG_405685.jpg") no-repeat fixed;
    position: relative;
    display: flex;
}

.home-section .home-section-nav {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10em auto;
}

.home-section .window {
    width: 200px;
    height: 300px;
    border-radius: 3em;
    background: -webkit-linear-gradient(top, rgba(248, 80, 50, 1) 20%, rgba(248, 80, 50, 0.8) 30%, rgba(241, 111, 92, 0.0) 95%), url(../images/i-need-breace.jpg);

    -moz-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
}

.home-section .window:hover {
    transform: scale(1.10, 1.10);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.10, 1.10);
    -o-transform: scale(1.25, 1.25);
    -moz-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    cursor: pointer;
}

/** ========= IMAGES SECTION style =========*/
.images-section {
    text-align: center;
    background: url("../images/IMG_405685.jpg") no-repeat fixed;
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
}

.images-section h1 {
    flex-basis: 100%;
    color: #ffa000;
    padding: 0.1em;
    font-size: 2em;
    font-family: Comfortaa, sans-serif;
    text-align: left;
    margin: 0.7em 0 0 2em;
}

/** === Images main style ===*/
.images-main {
    flex-basis: 70%;
    margin: 2em 2.9em 5em 2em;
    padding: 0;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    padding-right: 3.1em;
    border-right: 2px solid #234465;

}

.image-container {
    display: inline-block;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    position: relative;
    text-align: center;
}

.image-container img {
    width: 100%;
}

.image-container:hover .image-header {
    background-color: rgba(35, 68, 101, 0.8);

}

.image-container:hover .image-header a {
    color: rgba(255, 255, 255, 1);
}

.image-container:hover img {
    margin: 0 auto;
    cursor: pointer;
}

.image-header {
    background-color: rgba(35, 68, 101, 0);
    padding: 15px;
    width: calc(100% - 30px);
    font-size: 1.5em;
    position: absolute;
    height: 10px;

}

.image-header a {
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
}

.image-header a span {
    position: absolute;
    left: 115px;
    top: 8px;
    color: rgba(255, 255, 255, 0);
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
    font-size: 0.8em;

}

.fa-thumbs-up {
    position: absolute;
    left: 10px;
    top: 8px;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}

.fa-thumbs-up:hover {
    color: #ffa000;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
}

.up:hover span {
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
}

.fa-thumbs-down {
    position: absolute;
    left: 50px;
    top: 8px;
    padding-right: 15px;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}

.down:hover span {
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
}

.fa-thumbs-down:hover {
    color: #ffa000;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
}

.image-container .fa-twitter {
    position: absolute;
    right: 10px;
    top: 8px;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}

.image-container .fa-twitter:hover {
    color: #ffa000;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
}

.image-container .twitter:hover span {
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
}

.image-container .fa-facebook {
    position: absolute;
    right: 50px;
    top: 8px;
    padding-left: 15px;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}

.image-container .fa-facebook:hover {
    color: #ffa000;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
}

.image-container .facebook:hover span {
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
}

/** === Images aside style ===*/

.images-aside {
    flex-basis: 15%;
    flex-grow: 1;
    text-align: center;
    margin-right: 10px;
}

.advertisement {
    margin-top: 1em;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.advertisement-softuni img {
    display: block;
    margin: 30px auto 0 auto;
    width: 100%;
}

.advertisement-softuni img:hover {
    opacity: 0.9;
}

.advertisement-softuni .button {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    line-height: 2.5em;
    background: #234465;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;

}

.advertisement-softuni .button:hover {
    background: #3c5870;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;

}

.advertisement-images a {
    text-decoration: none;
}

.advertisement-images p {
    margin-top: 1em;
    color: white;
    font-size: 3em;
    font-family: Comfortaa, sans-serif;
    padding: 3em 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: #234465;
}

.advertisement-images p:hover {
    background: #3c5870;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: font-weight .3s ease-in-out;
    -webkit-transition: font-weight .3s ease-in-out;
}

/** ========= MIDDLE SECTION style =========*/
.middle-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    padding: 65px;
    background: url("../images/IMG_2.jpg") no-repeat fixed;
    text-align: left;
}


/** ========= CONTACT SECTION style =========*/
.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background: url("../images/IMG_2.jpg") no-repeat fixed;
}

/** ========= END SECTION style =========*/
.end-section {
    padding-top: 150px;
    text-align: center;
    background: #eee;
    display: flex;
    margin-bottom: 0;
}

footer {
    flex-basis: 100%;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.fa-chevron-up {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 2em;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
}

.fa-chevron-up:hover {
    background: rgba(255, 160, 0, 0.7);
    border-color:rgba(255, 160, 0, 0.0);
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
}

/** ========= 1st part of footer style =========*/
.footer-up {
    flex-basis: 100%;
    background: #3c5870;
    padding: 2em 0;
}

.footer-up .social-links {
    display: block;
    margin: 0 auto;

}

.footer-up .social-links li {
    display: inline-block;
    padding: 0.5em;
    margin: 0 1.7em;
    background: #ffa000;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: relative;
}

.footer-up .social-links li .fa-twitter {
    position: absolute;
    top: 8px;
    left: 9.8px;
}
.footer-up .social-links li .fa-github {
    position: absolute;
    top: 8px;
    left: 9.4px;
}

.footer-up .social-links li .fa-facebook {
    position: absolute;
    top: 8px;
    left: 13px;
}

.footer-up .social-links li a {
    text-decoration: none;
    color: white;
    font-size: 2em;

}
.footer-up .social-links li a:hover{
    color: #3c5870;
}
.footer-navigation li {
    display: inline-block;
    margin: 1em;
    font-size: 1.2em;
    padding-right: 3em;
    border-right: 2px solid #ffa000;

}

.footer-navigation li a {
    text-decoration: none;
    color: white;
    font-family: Comfortaa, sans-serif;
}

.footer-navigation li a:hover {
    font-weight: 900;
}

.footer-up p {
    margin: 1em auto;
    width: 50%;
    font-family: Comfortaa, sans-serif;
    line-height: 1.5em;
    font-size: 1em;
    padding: 0.2em;
    color: white;
}

/** ========= 2nd part of footer style =========*/
.footer-down {
    flex-basis: 100%;
    background: #234465;
    color: white;
    padding: 0.7em 0;
}

.footer-down p {
    margin: 0 auto;
    width: 50%;
    font-family: Comfortaa, sans-serif;
    line-height: 1.5em;
    font-size: 1em;
    padding: 0.2em;
}

.footer-down .created-by {
    font-size: 1.3em;
}